name: Publish {{ repository }}:{{ image_id }}

on:
  push:
    branches:
    - master
    paths:
    - {{ dockerfile_dir }}/*

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: docker/build-push-action@v1
      with:
        username: {% raw %}${{ secrets.DOCKER_USERNAME }}{% endraw %}
        password: {% raw %}${{ secrets.DOCKER_PASSWORD }}{% endraw %}
        repository: {{ repository }}
        tags: {{ tags | join(',') }}
        path: {{ dockerfile_dir }}
