name: Publish anibali/pytorch:1.4.0-cuda9.2-ubuntu16.04

on:
  push:
    branches:
    - master
    paths:
    - dockerfiles/1.4.0-cuda9.2-ubuntu16.04/*

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: anibali/pytorch
        tags: 1.4.0-cuda9.2-ubuntu16.04,1.4.0-cuda9.2
        path: dockerfiles/1.4.0-cuda9.2-ubuntu16.04
